<h1>Inventario</h1>

<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>Precio Unitario</th>
      <th>Stock</th>
    </tr>
  </thead>
  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto[:codigo] %></td>
        <td><%= producto[:nombre] %></td>
        <td>₡<%= producto[:precio_unitario] %></td>
        <td>
          <%= producto[:stock] %>
          <% if producto[:stock].to_i < 5 %>
            <span style="color: red;">Alerta! Stock Bajo</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>